
fastapi==0.104.1              
uvicorn[standard]==0.24.0     # ASGI сервер для запуска FastAPI

sqlalchemy>=2.0.36          
alembic==1.12.1

pydantic==2.5.0               # Валидация и сериализация данных (используется FastAPI)

python-dotenv==1.0.0
python-multipart==0.0.6       # Для работы с формами в FastAPI